.main {
    margin-top: 15px;
    border: 2px solid var(--bg-secondary);
    border-radius: var(--border-radius);
    padding-left: 50px;
}

.experienceContainer {
    position: relative;
    padding-left: 50px;
}

.experienceContainer:not(:last-child) {
    margin-bottom: 50px;
}

.experience {
    font-size: var(--p-2);
}

.meta {
    color: var(--text-secondary-2);
    font-size: var(--p-2);
}

.institution {
    font-size: var(--intro);
    color: var(--text-primary);
    font-weight: bold;
}

.experience {
    color: var(--text-secondary);
}

.ul {
    margin-top: 5px;
    padding-left: 20px;
}

.li {
    margin-top: 0px;
    padding-right: 50px;
}

.li::marker {
    color: var(--text-secondary);
}

.border {
    border-left: 2px solid var(--border);
    padding: 20px 0
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: -26px;
}