.main {
    border: 2px solid var(--border);
    cursor: pointer;
    background: none;
    border-radius: var(--border-radius);
    margin-right: 30px;
    padding: 7px 15px;
    color: var(--text-primary);
    font-weight: bold;
    
}

.main:hover {
    background: var(--bg-secondary)
}