.sLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.sLink {
    margin: 0 15px 0 0;
}

.sLink >* {
    transition: 200ms linear color;
}

.sLink >:hover {
    color: var(--text-primary);
}
