.p {
    color: var(--text-primary);
    font-size: var(--p);
    line-height: 1.5em;
    margin-bottom: 12px;;
    font-weight: 300;
}


.section {
    margin-bottom: 20px;
}

.h1 {
    color: var(--text-primary);
    font-size: var(--header);
    margin-bottom: 12px;
}

.h2 {
    font-size: var(--header-2);
    font-weight: bold;
    color: var(--text-primary);
}

.profileContainer {
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 170px;
    width: 170px;
    align-self: flex-end;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.topDesc {
    display: flex;
    justify-content: space-between;
}

.textDetails {
    width: 520px;

}

.clickables {
    display: flex;
    margin-top: 35px
    ;
}


.headerDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-primary-2);
}

@media screen and (max-width: 699px) {

    .profileContainer {
        display: none;
    }

    .topDesc {
        justify-content: center;
    }
    

}