.mainNavbar {
    background: var(--navbar-bg);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;;
    z-index: 2;
}

.navSection {
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.navItem {
    margin: 0 20px 0 0;
    position: relative;
}

.navItem:last-child {
    margin: 0;
}


.link {
    text-decoration: none;
    color: inherit;
    font-size: var(--p);
    font-weight: bold;
    color: var(--text-secondary-2);
    transition: 200ms linear all;
    cursor: pointer;
    filter: opacity(1) !important;
}

.toggleWrapper {
    cursor: pointer;
    padding: 7px;
    border-radius: var(--border-radius);
    transition: 200ms linear all;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleWrapper:hover {
    background: var(--bg-secondary)
}

.link:hover {
    color: var(--text-primary);
}


@media screen and (max-width: 360px) {
    .link {
        font-size: 14px;
    }    
}