.title {
    font-size: var(--header);
    color: var(--text-primary);
    font-weight: bold;
    margin: 30px 0;
}


.back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
    text-decoration: none;
    ;
}

.goBack {
    color: var(--text-secondary);
    margin-left: 20px;
}